{$DESEC_DOMAIN}, localhost {
    reverse_proxy /dns-query 172.20.53.103:80
    root * /webapp
    file_server
}

{$DESEC_DOMAIN_REDIRECT:noop.local} {
    redir https://{$DESEC_DOMAIN}{uri} permanent
}
